* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: linear-gradient(
    180deg,
    rgba(47, 4, 99, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(123, 174, 14, 0.751) 100%
  );
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
  margin-bottom: 130%;
}

body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

header {
  padding-top: 34px;
  height: calc(120px + 32px);
  transition: 0.3s;
}

header div {
  width: 120px;
  margin: auto;
  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );

  border-radius: 50%;

  display: flex;
  padding: 4px;

  transition: transform 0.3s;
}

header div:hover {
  transform: scale(1.1);
}

header div img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;

  display: grid;
  gap: 24px;
}

section {
  color: white;
  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );
  padding-top: 4px;
  border-radius: 10px;
}

section div {
  background-color: #2a2634;
  opacity: 90%;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18px;
  color: #a1a1aa;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  margin-top: 24px;
}

section ul li {
  transition: transform 0.3s;
}

section ul li:hover {
  transform: scale(1.1);
}

.games-list img {
  width: 90px;
  border-radius: 8px;
}

.channel-list img {
  border-radius: 50%;
  width: 70px;
  border: 1px solid #443e54;
}

/* animation */

header div {
  animation: fromTop 0.7s 0.2s backwards;
}

main section {
  animation: fromBottom 0.7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: 0.3s;
}

main section:nth-child(3) {
  animation-delay: 0.6s;
}
#linkedin {
  font-size: 32px;
  border-radius: 15px;
  color: rgb(20, 72, 216);
  transition: 0.2s;
}
#Instagram {
  font-size: 32px;
  border-radius: 15px;
  color: rgb(140, 39, 100);
  transition: 0.2s;
}
#twitch {
  font-size: 32px;
  border-radius: 15px;
  color: rgb(109, 27, 100);
  transition: 0.2s;
}
#github {
  cursor: pointer;
  font-size: 35px;
  border-radius: 15px;
  color: white;
  transition: 0.3s;
}
#github:hover {
  transform: scale(1.2);
}
@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
